source/middleware/gniPerCountry/xmlGniCountrySchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="xs:string" />
                <xs:element name="year" type="xs:nonNegativeInteger" />
                <xs:element name="value" type="xs:nonNegativeInteger" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>